
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>姓名： $model.Name</h1>
        <h1>年龄：$model.Age</h1>
        <h1>学校：$model.School</h1>
    </div>
</body>
</html>
